/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */

/* header */
header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
    height: 100%;
}

nav .float:nth-child(2) {
    width: 50%;
    height: 100%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}
/* /header */

/* main */
.main-section {
    height: 600px;
}

#grey {
    background-color: #f6f6f6;
}

.width60 {
    width: 60%;
    height: 100%;
    position: relative;
}

.width40 {
    width: 40%;
    height: 100%; 
    position: relative;
}

.width60 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-text {
    width: 44%;
    color: #23272a;
    
}

.left-text{
    position: absolute;
    top: 17%;
    left: 0;

}

.right-text {
    position: absolute;
    top: 17%;
    right: 0;
    
}

.section-text h2 {
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 1pc;
}


.section-text p {
   font-size: 1.2em;
}

.bottom-section {
    height: 1050px;
    position: relative;
}

.section-img, .description {
    width: 50%;
    margin: 0 auto;
    color: #23272a;
}

.description {
    padding-top: 10%;
    text-align: center;
}

.description h2{
    font-size: 2.4em;
    font-weight: 800;

}

.description p {
    font-size: 1.2em;
}

.section-img img {
    width: 100%;
}

.row {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.h4 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 1.5em;
}

.sparkle img{
    position: absolute;
    top: 0;
    left: 23%;
}


.section-btn {
    margin-top: 40px;
}

.section-btn a {
    display: inline-block;
    background-color: #5865f2;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: white;

}

.section-btn a:hover {
    color: black;
}
/* main */

/* footer */
footer {
    background-color: #23272a;
    height: 500px;
    margin-top: 15pc;
    color: white;
}

.row-footer {
    width: 70%;
    /* background-color: red; */
    height: 100%;
    margin: 0 auto;
}

.footer-col {
    height: 100%;
    width: 30%;
}

.footer-col h3 {
    color: #5865F2;
}

.language>img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.ita {
    display: inline;
}